{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h2 class="mt-4">질문</h2>
    <hr>
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
              <label for="id_username">작성자</label>
              <div class="form-control">{{ qanda.user }}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
              <label for="id_username">제목</label>
              <div class="form-control">{{ qanda.title }}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
              <label for="id_username">내용</label>
              <div class="form-control">{{ qanda.content}}</div>
            </div>
        </div>
    </div>
    <a href="{% url 'reservation:QandA_list' %}" class="btn btn-secondary">BACK</a>
    <hr>
    <h4>댓글</h4>
    <div class="form-group">
    {% for reply in qanda.reply_set.all %}
        <div class="form-row">
            <li class="form-control col-11 "> {{ reply.content }}</li>
            <a href="{% url 'reservation:reply_delete' qanda.pk reply.pk %}" class="btn btn-info col-1">삭제</a>
        </div>
    {% endfor %}
    </div>
    <form action="{% url 'reservation:reply_create' qanda.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-11">{{ form }}</div>
            <button class="btn btn-info col-1">작성</button>
        </div>
    </form>
    <hr>


{% endblock %}
